<div class="hero-unit">

  <h3>Edit <%= resource_name.to_s.humanize %></h3>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
      <%= devise_error_messages! %>
      <p><%= f.label :name %><br/>
        <%= f.text_field :name %></p>

      <div><%= f.label :email %>
        <br/>
        <%= f.email_field :email %></div>

      <div><%= f.label :password %> <i>(Sie brauchen hier nichts einzutragen wenn Sie es nicht ändern möchten.)</i><br/>
        <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %>
        <br/>
        <%= f.password_field :password_confirmation %></div>

      <div><%= f.label :current_password %> <i>(Bitte geben Sie ihr Passwort ein um die Änderungen zu bestätigen)</i><br/>
        <%= f.password_field :current_password %></div>

      <div><%= f.submit "Update", :class => "btn btn-primary" %></div>
  <% end %>

  <h5>Kündigung</h5>

  Unzufrieden? <%= link_to "Account kündigen", registration_path(resource_name), :confirm => "Sind Sie sicher?", :method => :delete %>
    <br />

  <%= link_to "Back", :back %>
</div>
