<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Firma<br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    Vorname<br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    Nachname<br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    Stadt<br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    Email<br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    Telefon<br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    Website<br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    Kommentar<br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit 'Absenden', :class => 'btn-primary' %>
  </div>
<% end %>
